img{
	width: 100%;
}
.login{
    height: 1000px;
    width: 100%;
    background: radial-gradient(#6495ED, #8A2BE2
    );
    position: relative;
}
.login__col{
    width: 1000px;
    height: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ebe6e6;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login__col,
.login__form{
    width: 41%;
    height: 100%;
    padding: 25px 25px;  
}

.login__col,
.login__bg-img{
    width: 59%;
    height: 100%;
}
.login__col,
.login__form_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 73%;
    margin: auto;
}

.login__col, .h1{
    text-align: center;
    margin-bottom: 40px;
}