body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #0f0124;
  overflow: hidden;
  margin: 0;
}

.snowfall{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffff;
  border-radius: 50%;
  animation:snowfall 10s linear infinite;
  transform-origin: center;
  opacity: 0.5;
}
@keyframes snowfall {
  0% {
    translateY:(0) translateX(0);
  }
  100% {
    transform: translateY(100vh) translateX(100vw);}
}
.snowfall:nth-child(2) {
  left: 10vw;
  animation-duration: 8s;}
.snowfall:nth-child(3) {
  left: 20vw;
  animation-duration: 10s;}
.snowfall:nth-child(4) {
  left: 30vw;
  animation-duration: 12s;}
.snowfall:nth-child(6) {
  left: 40vw;
  animation-duration: 15s;}
.snowfall:nth-child(7) {
  left: 60vw;
  animation-duration: 17s;}
.snowfall:nth-child(8) {
  left: 80vw;
  animation-duration: 19s;}
.snowfall:nth-child(9) {
  left: 90vw;
  animation-duration: 22s;}
.snowfall:nth-child(10) {
  left: 100vw;
  animation-duration: 24s;}
.christmas-tree{
  position: relative;
  top: 60px;
  cursor: pointer;}
.tree{
  position:absolute;
  width: 20px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 55px solid #823723;
  height: 0;
  animation: drop 1s linear;
}
.tree-before{
  content: "";
  position: absolute;
  background-color: #823723;
  border-radius: 50%;
  width: 30px;
  height: 10px;
  top: 50px;
  left: -5px;
}
.tree:after{
  content: "";
  position: absolute;
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
  border-bottom: 200px solid #035346;
  width: 0;
  top: -180px;
  left: -65px;
}
.tree-details:before{
  content: "";
  position: absolute;
  background-color: #35c777;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  top: -30px;
  left: -2px;
  box-shadow: 5px -40px #1077a0, 1px -15px #d41585, 12px -130px #cde20b, 50px -10px #a16565,  15px -75px #ac940f;
  z-index: 1;
}

.lights{
  position: absolute;
  opacity: 0;
  animation: light 2s linear, drop 1s linear .5s forwards;
}
@keyframes light {
  0%{filter: drop-shadow(0 0 2px #b4a01a) brightness(1);}
  50%{filter: drop-shadow(0 0 5px #0a975c)brightness(1.35);}
  100%{filter: drop-shadow(0 0 2px #270f92)brightness(1);}
}
.row-one{
  position: absolute;
  background-color: #ffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: -110px;
  left: -12px;
  box-shadow: 10px 10px #ffff, 25px 15px #ffff, 40px 18px #ffff, 54px 15px #ffff;
}
.row-two{
  position: absolute;
  background-color: #ffff;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  left: -42px;
  top: -40px;
  box-shadow: 10px 10px #ffff, 25px 17px #ffff, 40px 24px #ffff, 55px 30px #ffff, 70px 30px #ffff, 85px 29px #ffff, 100px 25px #ffff, 112px 20px #ffff;
}
.balls{
  position: absolute;
  background-color: #05b613;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  box-shadow: -20px -55px #d0fd04, 25px -70px #990b16;
  animation: drop 1s linear 1s forwards;
}
.balls:before{
  content: "";
  position: absolute;
  background-color: #f0091c;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  left: -40px;
  top: -10px;
  z-index: 1;
  box-shadow: 100px 10px #180ad8, 25px -80px #f30519, 60px -120px #f70505;
}
.balls:after{
  content: "";
  position: absolute;
  background-color: #1b3b31;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  left: 50px;
  top: -60px;
  z-index: 1;
  box-shadow: -20px -52px #50ce5c, -45px -80px #94d2bd, -30px 20px #f19659;
}
.star {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 18px solid #f9c819;
  border-left: 25px solid transparent;
  transform: rotate(-25deg); 
  top: -200px;
  left: -10px;
  opacity: 0;
  animation: dropStar 1s linear 1.5s forwards;
}

.star:before {
  border-bottom: 28px solid #f9c819;
  border-left: 12px solid transparent;
  position: absolute;
  height: 6px;
  width: 2px;
  top: -15px;
  left: -18px;
  display: block;
  content: "";
  transform: rotate(-45deg); 
}

.star:after {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 18px solid #f9c819;
  border-left: 25px solid transparent;
  transform: rotate(-75deg); 
  top: 2px;
  left: -25px;
  content: "";
}
@keyframes drop {
  0% {
    transform: translateY(-470px)scaleY(0.9);
    opacity: 0;
  }
  5%{opacity: 1;}
  50% {
    transform: translateY(0px)scaleY(1);
    opacity: 1;}
    65% {
      transform: translateY(-18px)scaleY(0.9);
    opacity: 1;}
    75% {
      transform: translateY(-18px)scaleY(0.9);
    opacity: 1;}
      100%{
        transform: translateY(0px)scaleY(1);
        opacity: 1;
      }}
  @keyframes dropStar {
    0% {transform: translateY(-470%) scaleY(0.9) rotate(-40deg); opacity: 0;}
    5% {opacity: 1;}
    50% {transform: translateY(0px) scaleY(1) rotate(-35deg); opacity: 1;}
    65% {transform: translateY(-15px) scaleY(0.9) rotate(-35deg); opacity: 1;}
    75% {transform: translateY(-18px) scaleY(0.9) rotate(-35deg); opacity: 1;}
    100% {transform: translateY(0) scaleY(1) rotate(-35deg); opacity: 1;}
  }
  .shadow{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
    width: 50px;
    height: 10px;
    z-index: -1;
    top: 50px;
    left: -15px;
    animation: scale .5s linear forwards;}
  @keyframes scale{
    0% {
      transform: scaleX(1);}
    100% {
      transform: scaleX(3);}
  }

 
 